extends layout

block content
    div(class='container')
        div(class='pb-3' role="main")
            div(class='row')
                div(class='col-lg-8 offset-lg-2')
                    div(class='text-center')
                        h2 Invoice Submit Form
                    p &nbsp;
                    form(method='POST' action='/create-invoice')
                        div(class='row mb-3')
                            label(for='apiHost' class='col-sm-2 col-form-label') Api Host
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='apiHost' placeholder='API Host' name='apiHost' required=true value=apiHost)
                        div(class='row mb-3')
                            label(for='clientId' class='col-sm-2 col-form-label') Client Id
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='clientId' placeholder='Client Id' name='clientId' required=true value=clientId)
                        div(class='row mb-3')
                            label(for='clientSecret' class='col-sm-2 col-form-label') Client Secret
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='clientSecret' placeholder='Client Secret' name='clientSecret' required=true value=clientSecret)
                        div(class='row mb-3')
                            label(for='priceAmount' class='col-sm-2 col-form-label') Price Amount
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='priceAmount' placeholder='Price Amount' name='priceAmount' required=true)
                        div(class='row mb-3')
                            label(for='priceCurrency' class='col-sm-2 col-form-label') Price Currency
                            div(class='col-lg-10')
                                select(class='custom-select' name='priceCurrency' id='priceCurrency')
                                    option(value='USD') USD
                                    option(value='CNY') CNY
                                    option(value='HKD') HKD
                                    option(value='SGD') SGD
                        div(class='row mb-3')
                            label(for='payCurrency' class='col-sm-2 col-form-label') Pay Currency
                            div(class='col-lg-10')
                                select(class='custom-select' name='payCurrency' id='payCurrency')
                                    option(value='USDT') USDT
                                    option(value='USDC') USDC
                                    option(value='BTC') BTC
                                    option(value='ETH') ETH
                        div(class='row mb-3')
                            label(for='notifyUrl' class='col-sm-2 col-form-label') Notify URL
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='notifyUrl' placeholder='Notify URL' name='notifyUrl' required=true)
                        div(class='row mb-3')
                            label(for='redirectUrl' class='col-sm-2 col-form-label') Redirect URL
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='redirectUrl' placeholder='Redirect URL' name='redirectUrl' required=true)
                        div(class='row mb-3')
                            label(for='orderId' class='col-sm-2 col-form-label') Order Id
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='orderId' placeholder='Order Id' name='orderId' required=true)
                        div(class='row mb-3')
                            label(for='title' class='col-sm-2 col-form-label') Title
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='title' placeholder='Title' name='title')
                        div(class='row mb-3')
                            label(for='description' class='col-sm-2 col-form-label') Description
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='description' placeholder='Description' name='description')
                        div(class='row mb-3')
                            label(for='lang' class='col-sm-2 col-form-label') Lang
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='lang' placeholder='Lang' name='lang' value='en-US')
                        div(class='row mb-3')
                            label(for='extArgs' class='col-sm-2 col-form-label') Ext Args
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='extArgs' placeholder='Ext Args' name='extArgs')
                        div(class='row mb-3')
                            label(for='confirmSpeed' class='col-sm-2 col-form-label') Confirm Speed
                            div(class='col-lg-10')
                                select(class='custom-select' name='confirmSpeed' id='confirmSpeed')
                                    option(value='low') Low
                                    option(value='medium') Medium
                                    option(value='high') High
                        div(class='row text-right')
                            div(class='col-sm-10 offset-sm-2')
                                button(type='submit' class='btn btn-primary') Create Invoice
