extends layout

block content
    div(class='container')
        div(class='pb-3' role="main")
            div(class='row')
                div(class='col-lg-8 offset-lg-2')
                    div(class='text-center')
                        h2 Invoice Query Form
                    p &nbsp;
                    #totalCount
                        if totalCount
                            div(class='alert alert-success' role='alert') Items Count: #{totalCount}

                    form(method='POST')
                        div(class='row mb-3')
                            label(for='apiHost' class='col-sm-2 col-form-label') Api Host
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='apiHost' placeholder='API Host' name='apiHost' required=true value=apiHost)
                        div(class='row mb-3')
                            label(for='appId' class='col-sm-2 col-form-label') App ID
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='appId' placeholder='App ID' name='appId' required=true value=appId)
                        div(class='row mb-3')
                            label(for='apiKey' class='col-sm-2 col-form-label') Api Key
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='apiKey' placeholder='Api Key' name='apiKey' required=true value=apiKey)
                        div(class='row mb-3')
                            label(for='orderId' class='col-sm-2 col-form-label') Order Id
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='orderId' placeholder='Order Id' name='orderId')
                        div(class='row mb-3')
                            label(for='invoiceId' class='col-sm-2 col-form-label') Invoice Id
                            div(class='col-lg-10')
                                input(type='text' class='form-control' id='invoiceId' placeholder='Invoice Id' name='invoiceId')
                        div(class='row mb-3')
                            label(for='status' class='col-sm-2 col-form-label') Status
                            div(class='col-lg-10')
                                select(class='custom-select' name='status' id='status')
                                    option(value='') None
                                    option(value='new') New
                                    option(value='paid') Paid
                                    option(value='confirmed') Confirmed
                                    option(value='completed') Complete
                                    option(value='expired') Expired
                                    option(value='invalid') Invalid
                        div(class='row mb-3')
                            label(for='start' class='col-sm-2 col-form-label') Start Date / Time
                            div(class='col-lg-10')
                                input(type='datetime-local' class='form-control' id='start' placeholder='Start Date / Time' name='start')
                        div(class='row mb-3')
                            label(for='end' class='col-sm-2 col-form-label') End Date / Time
                            div(class='col-lg-10')
                                input(type='datetime-local' class='form-control' id='end' placeholder='End Date / Time' name='end')
                        div(class='row mb-3')
                            label(for='isAsc' class='col-sm-2 col-form-label') Is Ascending
                            div(class='col-lg-10')
                                select(class='custom-select' name='isAsc' id='isAsc')
                                    option(value='true') True
                                    option(value='false') False
                        div(class='row text-right')
                            div(class='col-sm-10 offset-sm-2')
                                button(type='submit' class='btn btn-primary') Query Invoice (s)

            #queryResult
                if queryResult
                    p &nbsp;
                    div(class='row')
                        div(class='col-lg-12')
                            table(class='table table-sm table-condensed table-striped table-hover" id="query-result-table' style='font-size: 14px')
                                thead
                                    tr
                                        th(scope='col') Invoice Id
                                        th(scope='col') Order Id
                                        th(scope='col') Price Amount
                                        th(scope='col') Price Currency
                                        th(scope='col') Pay Amount
                                        th(scope='col') Pay Currency
                                        th(scope='col') Paid Amount
                                        th(scope='col') Status
                                        th(scope='col') Invoice Url
                                tbody
                                    each obj in queryResult
                                        tr
                                            td #{obj.invoice_id}
                                            td #{obj.order_id}
                                            td #{obj.price_amount}
                                            td #{obj.price_currency}
                                            td #{obj.pay_amount}
                                            td #{obj.pay_currency}
                                            td #{obj.paid_amount}
                                            td #{obj.status}
                                            td
                                                a(href=obj.invoice_url) CheckOut